html {
  font-family: Georgia, serif;
  color: #fff;
}

img {
  max-height: 500px;
}

.content {
  background-color: #495562;
}

.btn {
  color: #fff;
  border-color: #97a49b;
}

@media only screen and (min-width: 60em) {

  .banner {
    position: relative;
    overflow: hidden;
  }

  .content {
    background-image: linear-gradient(#efefef, rgba(73, 85, 98, .9));
    position: absolute;
    bottom: 0%;
  }
}
