html {
  font-family: Georgia, serif;
  color: #fff;
}

.content {
  background-color: #495562;
}

.btn {
  color: #fff;
  border-color: #97a49b;
}

.btn:hover {
  background: #efefef;
}

@media only screen and (min-width: 38em) {

  .btn {
    float: right;
  }
}

@media only screen and (min-width: 60em) {

  .banner {
    position: relative;
    overflow: hidden;
    max-height: 500px;
  }

  .content {
    background-image: linear-gradient(to bottom, rgba(73, 85, 98, 0), rgba(73, 85, 98, .9));
    background-color: transparent;
    position: absolute;
    bottom: 0%;
  }

  .btn {
    color: #fff;
    border-color: #fff;
  }
}
